//-----------------------------------------------------------
//-----------------------------------------------------------
//-----------------------COLORS----------------------
//-----------------------------------------------------------
//-----------------------------------------------------------
$color-black: #000;
$color-white: #fff;
$color-gray-light: #eeeeee;
$color-gray-medium: #cacaca;
$color-gray-dark: #2d2d2d;
//-----------------------------------------------------------
//-----------------------------------------------------------
//-----------------------FONTS----------------------
//-----------------------------------------------------------
//-----------------------------------------------------------
$font-premiere: 'Raleway',
sans-serif;
$font-premiere-bold: 900;
$font-premiere-medium: 600;
$font-premiere-light: 400;